
#startb{
  padding: 50px;
  margin: 10px;
 background-color: rgb(216, 53, 53);
 color:white;
 text-align: center;
 border-radius: 50%;

} 
#bdiv,#wdiv{
text-align: center;
justify-content: center;
margin:auto;
  
} 

#modus,#refrakt,#probenanzahl,#detailw,#tonw{
width: 20%;
text-align: center;
justify-content: center;
margin:auto;
}

#Anzeige{
  text-align: center;
  justify-content: center;
  margin:auto;
}

#sensorz,#sensorx,#sensory{ 
    display: inline-block;
  } 
 

