body {
background-color: rgb(0, 0, 0);  
position: fixed;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
  }

#startdiv{
background-color: rgb(0, 0, 0);  /* feste Postion kein scrollen -> geeignet für flexbox divs -> relative größenangaben */
position: fixed;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
display:flex;/* ist flexbox body -> damit die child divs im fixed Raum fer */
flex-direction: column;
justify-content:space-evenly;
align-items: center;  
      } 

#mod{width: 20%;} 
      
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
 }
 

 
 /******** Chrome, Safari, Opera and Edge Chromium styles ********/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(115, 115, 115);
  height: 0.2rem;
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */
  background-color: rgb(115, 115, 115);
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
 }
 


 

           #startb{
            background-color: rgb(216, 53, 53);         
            text-align: center;
            border-radius: 50%;
            border:none;
                  } 

            #wdiv{
            width: 100%;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
                 } 

           
#sta_b{background-color: #00000017;
  color: grey;
  opacity: 0.5;


}

#sta_div{
  height: 100%;
  width: 100%;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center; }
     


         #datum {border: none; margin-right: 80%;}
         #tabel{width: 50%;background-color: rgb(19, 21, 21);}
         #tab_monat{width: 50%;font-size: smaller;background-color: rgb(19, 21, 21);}
            
     
             #audioW,#ansichtw{
             background-color: rgb(115, 115, 115);
             color: #000000;
             cursor: pointer;
             text-align: center;
             border: none;
             width: 18%;
             height: 90%;
             border-radius: 5%;
             margin: 3%; } option{background-color: 115,115,115;}  
      
   
     
#aktivcanvasdiv{
background-color: rgb(0, 0, 0);
color:white;
display:flex;
flex-direction: column;
justify-content:space-between;
align-items: center; 
               }
   #KB{font-size:xx-large}
               #GLW,#GLW_B{color: rgb(42, 112, 165);}
               #GSW,#GSW_B{color: rgb(217, 114, 40);}
            
          
              

#aktivdiv{
background-color: rgba(0, 0, 0, 0.422);
width: 100%;
height: 100%;
display:flex;/* ist flexbox div -> besondere Angaben */
flex-direction: column;
justify-content:space-around;
                    }
         
                   #oneb{
                     background-color:  rgb(255, 29, 29);
                     width: 100%;
                     height: 60%;
                     text-align: center;
                     border: none;
                     border-radius: 50%; 
                     align-items: center;/* ist child von flexbox-parent aktivdiv -> margin statt float */
                     }
                   #Anzahl{
                    color: rgb(255, 255, 255);
                    font-size: 400%;
                   }
                   .zurueck{
                       background-color: rgba(255, 255, 255, 0.427);
                       color: rgb(7, 6, 6);
                       width: 10%;
                       height: 5%;
                       margin: 5%;
                       border: none;
                       cursor: pointer;
                       margin-left: auto;/* ist child von flexbox-parent aktivdiv -> nach links-> damit es andere Items nicht mitzieht eine order weiter */
                       order: 2;
                     }


/*Liegestützen*/

#Ldiv{
  background-color: rgba(0, 0, 0, 0.422);
  width: 100%;
  height: 100%;
  display:flex;/* ist flexbox div -> besondere Angaben */
  flex-direction: column;
  justify-content:space-around;
  }

                     #LieB{
                      background-color:  rgb(247, 255, 29);
                      width: 100%;
                      height: 60%;
                      text-align: center;
                      border: none;
                      border-radius: 50%; 
                      align-items: center;/* ist child von flexbox-parent aktivdiv -> margin statt float */
                      }
                    #LieA{
                     color: black;
                     font-size: 300%;
                    }